<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
      <div class="home">
          <div class="home-container">
              <div class="create">
                  <div>
                    <input placeholder="Username" type="text" id="create-username">
                    <h2>Create game</h2>
                  </div>
                  
              </div>
              <div class="join">
                  <div>
                    <span class="error"></span>
                    <input placeholder="Username" type="text" id="join-username">
                    <input placeholder="Room number" type="number" id="join-room">
                    <h2>Join game</h2>
                  </div>
                  
              </div>
          </div>
      </div>
      <main>
        <div class="game">
            <div class="board">

            </div>
        </div>
        <div class="messages">
            <ul id="messages"></ul>
            <form action="">
              <input id="chat-input" autocomplete="off" /><button>Send</button>
            </form>
          </div>
      </main>
      
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="./dist/bundle.js"></script>
  </body>
</html>